{% extends 'base.html.twig'%}

{% block body %}
<div class="projects-section" id="searchBar">
    <div class="search-wrapper">
        {{ form_start(form, {'action': path('app_search2')}) }}
        {{ form_errors(form) }}
        {{ form_row(form.query) }}
{#        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
            <defs></defs>
            <circle cx="11" cy="11" r="8"></circle>
            <path d="M21 21l-4.35-4.35"></path>
        </svg>#}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
