<form method="post" action="{{ path('app_works_delete', {'id': work.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce travail ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ work.id) }}">
    <button class="btn btn-delete">
        <i class="fa-solid fa-xmark"></i>
    </button>
</form>
