{% extends 'base.html.twig' %}

{% block title %}New Works{% endblock %}

{% block body %}
    <div class="projects-section login">
        <h1 class="h3 mb-3 font-weight-normal">New Works</h1>
        {{ include('works/_form.html.twig') }}
    </div>
{% endblock %}
